!!!
%html
  %body
    .chat-main
      .chat-main__group-info
        .chat-main__group-info__group-name
          .chat-main__group-info__group-name__title
            = @group.name
          %ul.chat-main__group-info__group-name__list
            Member：
            .chat-main__group-info__group-name__list__member
              - @group.users.each do |user|
                = user.name
        = link_to edit_group_path(@group), class:"chat-main__group-info__edit" do
          Edit
      .chat-main__message-list
        .chat-main__message-list__message
          = render @messages
          
      .chat-main__message-form
        = form_for [@group, @message] do |f|
          .chat-main__message-form__form
            = f.text_field :content, class: 'chat-main__message-form__form__text', placeholder: 'type a message'
            .chat-main__message-form__form__icon
              = f.label :image, class: 'chat-main__message-form__form__icon' do
                = icon('fas', 'image', class: 'icon')
                = f.file_field :image, class: 'hidden'
          = f.submit 'Send', class: 'chat-main__message-form__send'
